.Projects {
    padding: 40px;
    min-height: 100vh;
    background-color: rgb(8, 49, 97);
    color: aliceblue;

    /* Center child div vertically and horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: monospace;
    margin: 30px;
    font-size: 5vh;
}

.centered.div3 {
    position: relative;
    max-height: inherit;
}

.card.raised.project.card {
    font-size: 18px;
    background-color: aliceblue;
}