.About {
    padding: 40px;
    height: 100vh;
    background-color: rgb(0, 88, 189);
    color: rgb(230, 244, 255);
}

.name {
    font-size: 56px;
}

.intro {
    font-size: 20px;
}

/* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:320px)  { 
    .centered.div1 {
        height: 100vh;
    }

    .about {
        text-align: justify;
    }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media (min-width:481px)  { 
    .centered.div1 {
        margin-top: 8em;
        height: 100vh;
    }

    .about {
        font-size: 16px;
        text-align: justify;
    }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (min-width:641px)  { 
    .centered.div1 {
        height: 100vh;
        margin-top: 8em;
    }

    .about {
        font-size: 18px;
        text-align: justify;
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  { 
    .centered.div1 {
        position: absolute;
        top: 150%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }

    .about {
        font-size: 18px;
        text-align: justify;
    }
}

/* big landscape tablets, laptops, and desktops */ 
@media (min-width:1025px) { 
    .centered.div1 {
        position: absolute;
        top: 150%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }

    .about {
        font-size: 18px;
        text-align: justify;
    }
}

/* hi-res laptops and desktops */ 
@media (min-width:1281px) { 
    .centered.div1 {
        position: absolute;
        top: 150%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }

    .about {
        font-size: 18px;
        text-align: justify;
    }
}