.Contact {
    padding: 40px;
    min-height: 100vh;
    background-color: aliceblue;

    /* Center child div vertically and horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: monospace;
    margin: 30px;
    font-size: 5vh;
}

.centered.div4 {
    position: relative;
    max-height: inherit;
}

.my.email {
    cursor: pointer;
}