.NavigationBar {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.788);
}

.mobile-menu {
    justify-content: center;
}

.mobile-submenu {
    font-size: 4vw;
    position: relative;
    max-width: inherit;
}

.big-screen-menu {
    justify-content: center;
}

.big-screen-my-name {
    position: absolute;
    left: 0;
    padding: 5px;
}

.big-screen-submenu {
    font-size: 22px;
    position: relative;
    max-width: inherit;
}

.nav-logo {
    height: 50px;
    width: 110px;
}

.nav-logo:hover {
    cursor: pointer;
}